{% set page_name = 'Настрока страниц' %}


{% extends "layout/layout.html.twig" %}

{% block title %}{{ page_name }}{% endblock %}

{% block content %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>{{ page_name }}</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
                        <li class="breadcrumb-item active">{{ page_name }}</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-title">Список страниц</span>

                        <div class="card-tools">
                            <div class="input-group input-group-sm">
                                <a href="{{ path('page_admin_create') }}" type="submit" class="btn btn-primary">Создать</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                            <tr>
                                <th>№</th>
                                <th>Name</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for page in pages %}

                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ page.name|e }}</td>
                                    <td>
                                        <a href="{{ path('page_admin_update_by_id', {id: page.id}) }}" class="btn btn-warning">Изменить</a>
                                        <a href="{{ path('page_admin_delete_by_id', {id: page.id}) }}" class="btn btn-danger">Удалить</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <div class="card">
                    <div class="card-header">
                        <h4>Страницв и ее кодовое имя для создания настроек:</h4>
                        <p>Главная - home</p>
                        <p>Полив - watering</p>
                        <p>Пожарная система - fire-security</p>
                        <p>Охранная система - security</p>
                        <p>Пристройка - outbuilding</p>
                        <p>Все данные - devices - все устройства в системе (выводятся автоматически, создавать страницу не надо)</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>

{% endblock %}