{% if action == 'create' %}
    {% set page_name = 'Форма создания реле' %}
    {% set action_form = path('relays_create') %}
    {% set back = path('relays') %}
{% else %}
    {% set page_name = 'Форма изменения реле ' ~ relay.name %}
    {% set action_form = path('relays_update_by_id', {id: entityId}) %}
    {% set back = path('relays') %}
{% endif %}


{% extends "layout/layout.html.twig" %}

{% block title %}{{ page_name }}{% endblock %}

{% block content %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>{{ page_name }}</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
                        <li class="breadcrumb-item active"><a href="{{ path('relays_create') }}">Настройка реле</a></li>
                        <li class="breadcrumb-item active">{{ page_name }}</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <span class="card-title">{{ page_name }}</span>
                        <div class="card-tools">
                            <div class="input-group input-group-sm">
                                <a href="{{ back }}" class="btn btn-dark">Назад</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form method="POST" action="{{ action_form }}">
                        <div class="card-body">
                            {% if errors is not empty %}

                                <div class="alert alert-danger">
                                    <ul>
                                        {% for error in errors %}
                                            <li>{{ error.propertyPath }} - {{ error.message }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>

                            {% endif %}
                            <div class="form-group">
                                <label>Название реле</label>
                                <input type="text" name="name" value="{{ relay.name }}" class="form-control" placeholder="Реле 01 зал " autofocus required>
                            </div>
                            <div class="form-group">
                                <label>Топик</label>
                                <input type="text" name="topic" value="{{ relay.topic }}" class="form-control" placeholder="hall/ralay01" required>
                            </div>
                            <div class="form-group pt-2">
                                <label>Команда включить</label>
                                <input type="text" name="commandOn" value="{{ relay.commandOn }}" class="form-control" placeholder="on" required>
                            </div>
                            <div class="form-group">
                                <label>Команда выключить</label>
                                <input type="text" name="commandOff" value="{{ relay.commandOff }}" class="form-control" placeholder="off" required>
                            </div>
                            <div class="form-group">
                                <label>Текущее состояние реле</label>
                                <input type="text" name="payload" value="{{ relay.payload }}" class="form-control" placeholder="1">
                            </div>

                            <div class="form-group">
                                <label>Тип реле</label>
                                <select class="form-control" name="type">
                                    {% for key, typeOf in typeTranscribe %}
                                    <option value="{{ key }}" {% if key == relay.type%} selected {% endif %}>{{ typeOf|capitalize }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="contur">
                                <div class="custom-control custom-switch mb-2">
                                    <input type="checkbox" class="custom-control-input" name="isFeedbackPayload" id="statusSwitch0" {% if relay.isFeedbackPayload == 'on' %} checked {% endif %}>
                                    <label class="custom-control-label" for="statusSwitch0">Реле имеет обратную связь</label>
                                </div>
                                <div class="form-group">
                                    <label>Проверочный топик</label>
                                    <input type="text" name="checkTopic" value="{{ relay.checkTopic }}" class="form-control" placeholder="hall/check/ralay01">
                                </div>
                                <div class="form-group">
                                    <label>Проверочный сигнал - статус включен</label>
                                    <input type="text" name="checkTopicPayloadOn" value="{{ relay.checkTopicPayloadOn }}" class="form-control" placeholder="1">
                                </div>
                                <div class="form-group">
                                    <label>Проверочный сигнал - статус выключен</label>
                                    <input type="text" name="checkTopicPayloadOff" value="{{ relay.checkTopicPayloadOff }}" class="form-control" placeholder="0">
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Текст для информации</label>
                                <input type="text" name="message_info" value="{{ relay.message_info }}" class="form-control" placeholder="Реле 1 в зале">
                            </div>
                            <div class="form-group">
                                <label>Текст для статуса Oк</label>
                                <input type="text" name="message_ok" value="{{ relay.message_ok }}" class="form-control" placeholder="Реле 1, работает штатно">
                            </div>
                            <div class="form-group">
                                <label>Текст для вывода алерта</label>
                                <input type="text" name="message_warn" value="{{ relay.message_warn }}" class="form-control" placeholder="Внимание, ошибка в работе реле 1">
                            </div>

                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="status" id="statusSwitch1" {% if relay.status == 'on' %} checked {% endif %}>
                                <label class="custom-control-label" for="statusSwitch1">Статус реле</label>
                            </div>
                            <div class="custom-control custom-switch pb-2">
                                <input type="checkbox" class="custom-control-input" name="notify" id="notifySwitch2" {% if relay.notify == 'on' %} checked {% endif %}>
                                <label class="custom-control-label" for="notifySwitch2">Присылать оповещения</label>
                            </div>

                            <button type="submit" class="btn btn-primary">Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>

{% endblock %}