{% set route = app.request.get('_route') %}

<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-dark">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="{{ path('home') }}" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Contact</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Application Environment: {{ app.environment }}</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="{{ path('app_logout') }}" class="nav-link">Logout</a>
        </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <!-- Notifications Dropdown Menu -->
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
                <i class="far fa-bell"></i>
                <span class="badge badge-warning navbar-badge">{{ notifications.notifications.total }}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <span class="dropdown-item dropdown-header">{{ notifications.notifications.total }} Notifications</span>
                <div class="dropdown-divider"></div>
                <a href="{{ path('visual_notify', {type: 1}) }}" class="dropdown-item">
                    <i class="fas fa-exclamation-triangle mr-2"></i> {{ notifications.notifications.alerts.count }} new allerts
                    <span class="float-right text-muted text-sm">{{ notifications.notifications.alerts.difTime }}</span>
                </a>
                <div class="dropdown-divider"></div>
                <a href="{{ path('visual_notify', {type: 0}) }}" class="dropdown-item">
                    <i class="fas fa-envelope mr-2"></i> {{ notifications.notifications.notifications.count }} new notifications
                    <span class="float-right text-muted text-sm">{{ notifications.notifications.notifications.difTime }}</span>
                </a>
                <div class="dropdown-divider"></div>
                <a href="{{ path('visual_notify', {type: 2}) }}" class="dropdown-item">
                    <i class="fas fa-fire mr-2"></i> {{ notifications.notifications.securities.fireSecureAlerts.count }} fire secure alerts
                    <span class="float-right text-muted text-sm">{{ notifications.notifications.securities.fireSecureAlerts.difTime }}</span>
                </a>
                <div class="dropdown-divider"></div>
                <a href="{{ path('visual_notify', {type: 3}) }}" class="dropdown-item">
                    <i class="fas fa-user-secret mr-2"></i> {{ notifications.notifications.securities.secureAlerts.count }} security alerts
                    <span class="float-right text-muted text-sm">{{ notifications.notifications.securities.secureAlerts.difTime }}</span>
                </a>
                <div class="dropdown-divider"></div>
                <a href="{{ path('visual_notify', {type: 99}) }}" class="dropdown-item dropdown-footer">See All Notifications</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                <i class="fas fa-expand-arrows-alt"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                <i class="fas fa-th-large"></i>
            </a>
        </li>
    </ul>
</nav>
<!-- /.navbar -->

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{{ path('home') }}" class="brand-link">
        <img src="/assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">UberServer</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{{ app.user.imageGravatar }}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="{{ path('profile_view') }}" class="d-block">{{ app.user.login }}</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="{{ path('home') }}" class="nav-link {{ 'home' in route ? 'active' }}">
                        <i class="nav-icon fas fa-home"></i>
                        <p>
                            Главная
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('watering') }}" class="nav-link {{ 'security_page' in route ? 'active' }}">
                        <i class="nav-icon fas fa-tint"></i>
                        <p>
                            Полив
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('fire_secure_page') }}" class="nav-link {{ 'fire_secure_page' in route ? 'active' }}">
                        <i class="nav-icon fab fa-free-code-camp fa-circle"></i>
                        <p>
                            Пожарная система
                            {% if notifications.notifications.securities.fireSecureAlerts.count > 0 %}
                                <span class="right badge badge-danger">!</span>
                            {% endif %}
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('security_page') }}" class="nav-link {{ 'security_page' in route ? 'active' }}">
                        <i class="nav-icon fas fa-user-lock"></i>
                        <p>
                            Охранная система
                            {% if notifications.notifications.securities.secureAlerts.count > 0 %}
                                <span class="right badge badge-danger">!</span>
                            {% endif %}
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('devices') }}" class="nav-link {{ 'devices' in route ? 'active' }}">
                        <i class="nav-icon fas fa-folder-open"></i>
                        <p>
                            Все данные
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('outbuilding') }}" class="nav-link {{ 'outbuilding' in route ? 'active' }}">
                        <i class="nav-icon fas fa-border-style"></i>
                        <p>
                            Пристройка
                        </p>
                    </a>
                </li>
                <li class="nav-item {{ 'admin' in route ? 'menu-is-opening menu-open' }}">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Настройки
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ path('sensors_admin') }}" class="nav-link {{ 'sensors_admin' in route ? 'active' }}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Сенсоры</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('relay_admin') }}" class="nav-link {{ 'relay_admin' in route ? 'active' }}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Реле</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('security_admin') }}" class="nav-link {{ 'security_admin' in route ? 'active' }}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Охранка</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('fire_secure_admin') }}" class="nav-link {{ 'fire_secure_admin' in route ? 'active' }}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Пожарка</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('page_admin') }}" class="nav-link {{ 'page_admin' in route ? 'active' }}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Страницы</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>